.galleryItem {
  max-width: 30vw;
  height: clamp(11.25rem, 3.333rem + 35.19vw, 38rem);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -10px -10px 30px -5px #121417, 10px 10px 30px #121417;

  @media (min-width: 2100px) {
    height: 50rem;
  }

  @media (max-width: 768px) {
    max-width: unset;
    height: clamp(15.625rem, -5.208rem + 69.44vw, 28.125rem);
  }

  @media (max-width: 480px) {
    height: 250px;
  }

  &:hover {
    .overlay {
      opacity: 0.8;
      visibility: visible;
    }

    .galleryItemImages,
    .galleryItemText {
      opacity: 1;
      visibility: visible;
    }
  }

  .overlay {
    position: absolute;
    z-index: 5;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #221e1d;
    color: #f4efec;
    font-size: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .galleryItemImages,
  .galleryItemText {
    position: absolute;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  .galleryImageBox {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .galleryItemImages {
    width: 100%;
    padding-inline: 2rem;
    top: 50%;
    right: 50%;
    translate: 50% -50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: clamp(0.5rem, 0.333rem + 0.74vw, 1rem);

    @media (max-width: 550px) {
      top: 20%;
      translate: 50% 0%;
      padding-inline: unset;
    }

    &::before {
      content: "technologies:";
      position: absolute;
      top: 0;
      right: 50%;
      translate: 50% -150%;
      font-size: clamp(1rem, 0.917rem + 0.37vw, 1.25rem);

      @media (max-width: 850px) {
        font-size: 14px;
      }
    }
  }

  .galleryItemText {
    bottom: 5%;
    right: 50%;
    translate: 50% 0;
    white-space: nowrap;
    color: #ffcb6b;

    @media (max-width: 850px) {
      font-size: 12px;
    }

    @media (max-width: 650px) {
      text-wrap: balance;
      text-align: center;
    }
  }
}

.iconImage {
  height: clamp(1.563rem, 1.042rem + 2.31vw, 3.125rem);
  aspect-ratio: 1;

  @media (max-width: 850px) {
    height: 25px;
    width: 25px;
  }

  @media (max-width: 550px) {
    height: 18px;
    width: 18px;
  }
}
