.content,
.heroSection,
.hero,
.mainHeader,
.gallery > *,
.galleryItem {
  will-change: transform;
}

.body {
  color: #f4efec;
  overflow-x: hidden;
}

.container {
  padding-inline: 7vw;
}

.gallery {
  display: flex;
  align-items: center;
  padding-block: calc(var(--index) * 8);
  gap: 20px;

  @media (max-width: 1024px) {
    padding-block: 0;
    padding-bottom: 100px;
  }
}

.galleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
  gap: calc(var(--index) * 5);

  @media (max-width: 550px) {
    gap: 30px;
  }
}

.contactsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 30vw;
  height: clamp(11.25rem, 3.333rem + 35.19vw, 40rem);

  @media (min-width: 2100px) {
    height: 50rem;
  }

  @media (max-width: 768px) {
    max-width: unset;
    height: clamp(15.625rem, -5.208rem + 69.44vw, 28.125rem);
  }

  @media (max-width: 480px) {
    height: 250px;
  }
}
