.card {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 100%;
  max-width: 65vw;
  grid-template-columns: 1fr auto;
  box-shadow: -15px 10px 50px #4b5f5d;
  transition: opacity 0.3s ease-in;
}

.cardDescription {
  max-width: 70%;
  padding: 1.5em;
  background-color: #2d3a34;
  color: #94a491;
  border-radius: 13px 0 0 13px;
  box-shadow: -10px 15px 25px #4b5f5d;
  font-size: var(--index);
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  .p {
    padding-bottom: 1em;
  }

  .p + .p {
    margin-top: 1em;
  }
}

.cardTitle {
  margin-bottom: 0.5em;
  font-size: calc(var(--index) * 2.5);
  text-transform: capitalize;
  color: #c1cfbb;
}

.cardPrice {
  margin-top: auto;
  align-self: flex-end;
  font-size: calc(var(--index) * 1.75);

  .span {
    color: #c1cfbb;
  }
}

.cardImg {
  .img {
    @media (min-width: 2200px) {
      width: 100%;
    }

    border-radius: 0 13px 13px 0;
    height: 100%;
    width: clamp(9.375rem, 1.563rem + 26.04vw, 25rem);
    object-fit: cover;
  }
}
