@media (max-width: 991px) {
  .wrapper {
    overflow: scroll;
    display: block;
  }

  .header {
    position: relative;
  }

  .title {
    margin-top: unset;
    padding-top: 1em;
  }

  .gallery {
    width: 100%;
    column-width: 10em;
    transform: scale(1);
  }

  .galleryItem:hover {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .cardDescription {
    border-radius: 0 0 13px 13px;
  }

  .cardImg {
    .img {
      height: clamp(18.75rem, 8.333rem + 34.72vw, 25rem);
      width: clamp(20rem, 1.25rem + 62.5vw, 31.25rem);
      border-radius: 13px 13px 0 0;
    }
  }
}
