.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--transition-gallery);
  transform-style: preserve-3d;
  will-change: transform;
  background-color: rgb(0 0 0 / 0.75);
  cursor: default;
}
.frameMedia {
  position: relative;
  background-size: cover;
  background-position: center;
}

.frameMediaVertical {
  height: calc(var(--index) * var(--side-big));
  width: calc(var(--index) * var(--side-small));
}

.frameMediaHorizontal {
  height: calc(var(--index) * var(--side-small));
  width: calc(var(--index) * var(--side-big));

  &.frameMediaLeft {
    right: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
  }

  &.frameMediaRight {
    left: calc(var(--side-big) / 2 * var(--index) + var(--gutter));
  }
}

.frameMediaThin {
  height: calc(var(--index) * var(--side-small));
  width: calc(var(--index) * var(--side-thin));
}

.frameMediaWide {
  height: calc(var(--index) * var(--side-small));
  width: calc(var(--index) * var(--side-wide));
}

.frameMediaSquare {
  height: calc(var(--index) * var(--side-small));
  width: calc(var(--index) * var(--side-small));
}

.frameMediaLeft {
  right: calc(var(--side-small) / 2 * var(--index) + var(--gutter));

  @media (max-width: 768px) {
    right: unset !important;
    left: unset !important;
  }

  &:hover .frameMediaName {
    right: -38%;
  }

  &:hover .frameMediaDate {
    right: -38%;
  }

  &.frameMediaShort {
    &:hover .frameMediaName {
      right: -25%;
    }

    &:hover .frameMediaDate {
      right: -25%;
    }
  }

  &.frameMediaThin:hover .frameMediaName {
    right: -20%;
  }
  &.frameMediaThin:hover .frameMediaDate {
    right: -20%;
  }
}

.frameMediaRight {
  left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));

  @media (max-width: 768px) {
    right: unset !important;
    left: unset !important;
  }

  .frameMediaName {
    left: 0;
    transition: left 0.2s ease-in 0.1s;
  }

  .frameMediaDate {
    left: 0;
    transition: left 0.2s ease-in;
  }

  &:hover .frameMediaName {
    left: -35%;
  }

  &:hover .frameMediaDate {
    left: -35%;
  }

  &.frameMediaShort {
    &:hover .frameMediaName {
      left: -20%;
    }

    &:hover .frameMediaDate {
      left: -20%;
    }
  }
}

.frameMediaName {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  font-size: calc(var(--index) * 1.3);
  transition: right 0.2s ease-in 0.1s;
}

.frameMediaDate {
  position: absolute;
  z-index: -1;
  top: 5%;
  right: 0;
  font-size: calc(var(--index) * 1.1);
  transition: right 0.2s ease-in;
}
